:root {
	--scratchpad-brush-color: #ffffff;
	--scratchpad-brush-size: 2;
}

.scratchpad-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.scratchpad-tabs {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--background-modifier-border);
	padding-bottom: 5px;
}

.scratchpad-tab {
	padding: 5px 10px;
	border-radius: 4px;
	font-size: var(--font-ui-medium);
}

.scratchpad-tab.active {
	background-color: var(--background-modifier-active-hover);
	color: var(--text-accent);
}

.scratchpad-view-area {
	display: none;
	flex-direction: column;
	flex: 1;
	min-height: 0;
}

.scratchpad-view-area.active {
	display: flex;
}

.scratchpad-textarea {
	flex: 1;
	resize: none;
	width: 100%;
	font-size: var(--font-small);
	padding: 8px;
	box-sizing: border-box;
}

.scratchpad-canvas {
	flex: 1;
	width: 100%;
	min-height: 0;
	border: 1px solid var(--background-modifier-border);
	border-radius: 6px;
	background-color: #1b1b1b;
	background-image: linear-gradient(to right, #d9d9d912 1px, transparent 1px),
		linear-gradient(to bottom, #bababa12 1px, transparent 1px);
	background-size: 24px 24px;
	cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1wZW4taWNvbiBsdWNpZGUtcGVuIj48cGF0aCBkPSJNMjEuMTc0IDYuODEyYTEgMSAwIDAgMC0zLjk4Ni0zLjk4N0wzLjg0MiAxNi4xNzRhMiAyIDAgMCAwLS41LjgzbC0xLjMyMSA0LjM1MmEuNS41IDAgMCAwIC42MjMuNjIybDQuMzUzLTEuMzJhMiAyIDAgMCAwIC44My0uNDk3eiIvPjwvc3ZnPg==') 0 21, auto;
}

.scratchpad-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	padding-top: 10px;
}

.scratchpad-controls>* {
	margin-left: auto;
}

input[type="range"] {
	max-width: 80px;
}